.login-container {
    border-color: #0b0606;
    border-style:ridge;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(14, 1, 1, 0.872);
    padding: 40px;
    width: 350px;
    text-align: center;
    margin-right: 20cm;
    margin-top: 1cm;
    backdrop-filter: blur(100%);
  }
  
  .login-container h1 {
    color: #0b0606;
    margin-right: 0cm;
    text-align: center;
    margin-bottom: 0cm;
  }
  
  .login-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 4px;
    
  }
  
  .login-container label {
    margin-left: 10px;
  }
  
  .login-container button {
    width: 60%;
    padding: 12px;
    background-color: rgb(96, 100, 100);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-container button:hover{
    background-color: #0b0606;
  }

body
 {
    margin: 0;
    padding: 0;
    background-image: url("D:/Online Furniture Store/furniturestore/src/Assets/furni1-transformed.jpeg"); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
